language: python
env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
matrix:
  exclude:
    - python: "3.3"
      env: "DJANGO_VERSION=1.9"
    - python: "3.3"
      env: "DJANGO_VERSION=1.10"
install:
  - pip install django==$DJANGO_VERSION
  - pip install .
script: ./test_project/manage.py test
